<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="bi bi-bar-chart"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading">Gestión</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-columns-gap"></i>
                <span>Sitios</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-people"></i>
                <span>Gestores</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-archive"></i>
                <span>Bodegas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-cash"></i>
                <span>Tipo de Pagos</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-file-earmark-medical"></i>
                <span>Políticas y Terminos</span>
            </a>
        </li>



    </ul>

</aside>