<head th:fragment="head">
  <!--=============== META ===============-->
  <meta name="theme-color" content="#4285f4">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== FAVICON ===============-->
  <link rel="shortcut icon" th:href="@{/img/favicon.png}"  type="image/x-icon">

  <!--=============== BOXICONS ===============-->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <!--=============== SWIPER CSS ===============-->
  <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">

  <!--=============== CSS ===============-->
  <link rel="stylesheet"  th:href="@{/css/styles.css}">

  <!--=============== REMIXICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


  <title>SICOBO | Principal</title>
</head>