<!DOCTYPE html>
<html lang="en">
<head>
    <title>SICOBO | Login</title>
</head>
<head th:insert="~{layout/admin/head :: head}"></head>
<body>
<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <img th:src="@{/img/favicon.png}" alt="">
                                <span class="d-none d-lg-block">SICOBO</span>
                            </a>
                        </div>

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Inicio de Sesión</h5>
                                    <p class="text-center small">Ingresa tu usuario y contraseña</p>
                                </div>

                                <form class="row g-3 needs-validation" th:action="@{/login}" method="post" novalidate>
                                    <div class="col-12">
                                        <label for="username" class="form-label">Usuario</label>
                                        <div class="input-group has-validation">
                                            <input type="text" name="username" class="form-control" id="username" required>
                                            <div th:text="#{login.usuario.error}" class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="password" class="form-label">Contraseña</label>
                                        <input type="password" name="password" class="form-control" id="password" required>
                                        <div  th:text="#{login.password.error}" class="invalid-feedback"></div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Iniciar Sesión</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">¿No tienes una cuenta? <a th:href="@{/register}">Crear una cuenta</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div th:insert="~{layout/extras/credits :: credits}"></div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:insert="~{layout/admin/scripts :: scripts}"></div>

</body>
</html>