<!DOCTYPE html>
<html lang="en">
<head>
  <title>SICOBO | Blanco</title>
</head>
<head th:insert="~{layout/admin/head :: head}"></head>
<body>
<header th:insert="~{layout/admin/header :: header}"></header>
<aside th:insert="~{layout/admin/sidebar :: sidebar}"></aside>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Página en Blanco</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/dash}">Inicio</a></li>
        <li class="breadcrumb-item">Páginas</li>
        <li class="breadcrumb-item active">Página en Blanco</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p>Nada más copien este archivo para empezar a hacer la función.</p>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <p>Nada más copien este archivo para empezar a hacer la función.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>

<footer th:insert="~{layout/admin/footer :: footer}"></footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:insert="~{layout/admin/scripts :: scripts}"></div>

</body>

</html>